<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='github-markdown.css') }}">
</head>
<body>
    <div class="markdown-body">
    {{ content|safe }}
</div>
<div id="markdown-content"></div>

<script>
$(document).ready(function() {
    $.ajax({
        url: "{{ url_for('render_markdown') }}",
        type: "GET",
        success: function(response) {
            $("#markdown-content").html(response);
        },
        error: function(error) {
            console.log("Error:", error);
        }
    });
});
</script>
</body>
</html>