<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>

<body>
    <h2>회원가입</h2>
    <form id="signUpForm">
        아이디: <input type="text" id="id" required><span id="idCheckMsg"></span><br>
        비밀번호: <input type="password" id="password" required><br>
        이름: <input type="text" id="name" required><br>
        닉네임: <input type="text" id="nickname" required><br>
        이메일: <input type="email" id="email" required><br>
        Git 주소: <input type="text" id="git_address" required><br>
        <button type="submit">가입하기</button>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        document.getElementById('signUpForm').addEventListener('submit', async function (e) {
            e.preventDefault();

            const id = document.getElementById('id').value;
            const password = document.getElementById('password').value;
            const name = document.getElementById('name').value;
            const nickname = document.getElementById('nickname').value;
            const email = document.getElementById('email').value;
            const git_address = document.getElementById('git_address').value;

            try {
                const response = await axios.post('/sign_up', {
                    id,
                    password,
                    name,
                    nickname,
                    email,
                    git_address
                });
                if (response) {
                    alert('회원가입 성공!');
                    window.location.href = "templates/index.html";
                } else {
                    alert('오류 발생: ' + response.data.message);
                }
            } catch (error) {
                console.error('Request failed:', error);
                alert('서버 오류 발생');
            }
        });

        document.getElementById('id').addEventListener('blur', async function () {
            const userId = document.getElementById('userid').value;
            try {
                const response = await axios.post('/check_userid', { userId });
                if (response.data.available) {
                    document.getElementById('idCheckMsg').textContent = '사용 가능한 아이디입니다.';
                } else {
                    document.getElementById('idCheckMsg').textContent = '이미 사용 중인 아이디입니다.';
                }
            } catch (error) {
                console.error('Request failed:', error);
            }
        });
    </script>
</body>

</html>
